<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    MacBook Shop
  </header>
  <main>
    <div class="container">
      <div class="products">
        <div class="product" *ngFor="let prod Of products">
          {{prod.name}}
          {{prod.price}}
          <img src={{prod.image}}>
          <a href="detiils">ghjlhh</a>
        </div>
        
      </div>    
    </div>
  </main>
</body>
</html>

